RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L,QSA]

<IfModule mod_headers.c>
  # Excepciones para permitir fuentes específicas
  Header add Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'unsafe-inline'; img-src 'self' data:; connect-src 'self'"
  Header set X-Frame-Options "DENY"
  Header set X-Content-Type-Options "nosniff"
</IfModule>